.dropzone {
    background-color: rgb(255, 255, 255);
    height: 40vh;
    border: 2px dashed black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-weight: bolder;
    transition: background-color .2s, color .2s;
}

.dropzone:hover {
    background-color: rgba(255, 255, 255, 0.463);
    color: white;
}

.page {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-image: url('../../assets/find-a-bird-bg.jpg');
}

.url-input {
    width: 30vw;
    height: 56px;
    padding: 16px;
}

.generated-content {
    text-align: center;
    padding: 48px;
}