*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    margin-top: 2rem;
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    height: 30vh;
    position: relative;
    overflow: hidden;
}

@keyframes scrollLeft {
    to {
        left: -30vw;
    }
}


.itemLeft {
    width: 30vw;
    height: 30vh;
    background-color: #e11d48;
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.itemSlow {
    animation-duration: 35s;
}

.itemLeft {
    left: max(calc(300px * 3), 100%);
    animation-name: scrollLeft;
}


.item1 {
    animation-delay: calc(30s / 3 * (3 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 3 * (3 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 3 * (3 - 3) * -1);
}

@media only screen and (max-width: 768px) {

    @keyframes scrollLeft {
        to {
            left: -60vw;
        }
    }

    .itemLeft {
        width: 60vw;
    }

    .itemLeft {
        left: max(calc(60vw * 3), 100%);
    }
}