.header {
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

.search-bar {
  align-self: flex-start;
  border: 0px;
  background-color: #F5F5F5;
  color: #737373;
  border-radius: 8px;
  width: 40vw;
  height: 40px;
}

.index-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.bird-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bird-img {
  width: 200px;
}

.find-a-bird {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  padding: 16px;
}

.url-field {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.url-input {
  width: 50vw;
  height: 56px;
}