.header {
  display: flex;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

* {
  font-family: sans-serif;
}

a {
  color: black;
}

.search-bar {
  align-self: flex-start;
  border: 2px solid black;
  background-color: darkgray;
  border-radius: 8px;
  width: 40vw;
  height: 40px;
}

.index-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.card {
  background-color: black;
  display: flex;
}